@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html {
  height: calc(100% + 1px);
  overflow: hidden;
}

body {
    --main-color: #F2A359;
    --secondary-color: #ffffff;
    font-size: .8em;
    font-family: 'Lato','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    height: calc(100% + 1px);
    overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

.main-bg-color {
    background-color: var(--main-color);
}

.main-text-color {
    color: var(--main-color);
}

.secondary-bg-color {
    background-color: var(--secondary-color);
}

.secondary-text-color {
    color: var(--secondary-color);
}

.h-40 {
    height: 40%;
}

.h-60 {
    height: 60%;
}


/* Playlists Page */
#playlists {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#playlists::-webkit-scrollbar {
    width: 0!important;
}

.playlist {
    color: var(--main-color);
    font-weight: bold;
    width: 80%;
    transition: .25s all;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.playlist:hover {
    cursor: pointer;
    width: 100%;
    line-height: 48px;
    font-size: 16px;
}

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
}

#search {
    border: none;
    border-bottom: 1px solid var(--main-color);
    border-radius: 0;
    font-weight: bold;
    color: #bebebe;
    width: 150px;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#search::placeholder {
    color: #bebebe;
}

#search:focus {
    width: 200px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

/* App Page */

.btn {
    background-color: var(--secondary-color);
}

.fa-lg {
    line-height: 1;
}

.align-left {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.app-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#add-song-menu {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    z-index: 100;
    transition: .5s all;
}

#app.adding-song #add-song-menu {
    left: 0;
}

#player {
    position: relative;
    line-height: 26px;
    height: 50vw;
    max-height: 40%!important;
    z-index: 100;
}

#current-song-details img {
    width: 25%;
}

.bg-album {
    position: absolute;
    width: 100vw;
    height: 50vw;
    overflow: hidden;
    z-index: -1;
}

.bg-album img {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    width: 100%;
    position: relative;
    top: -40%;
    transform: scale(1.1); /* Get rid of white edges on blur */
}

#current-song-details {
    position: absolute;
    bottom: -20px;
    left: 10%;
    line-height: 1.25em;
}

#current-artist:hover i {
    transition: .25s all;
    margin-left: 0px;
}

#current-artist:hover i {
    margin-left: .5em;
}

.faded {
    opacity: .5;
}

.collapsible-table {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.collapsible-table::-webkit-scrollbar { 
    width: 0 !important;
}

table > tbody > tr > td {
    vertical-align: middle !important;
}

.table td {
    border: none;
}

.song {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.explicit::after {
    content: 'E';
    color: var(--secondary-color);
    font-size: 10px;
    background-color: red;
    max-height: 50px;
    max-width: 50px;
    padding: 0px 3px;
    margin-right: 10px;
}

#nav-bars {
    position: absolute;
    top: 2em;
    left: 2em;
    z-index: 1;
    cursor: pointer;
}

.bar {
    background-color: var(--secondary-color);
    border-radius: 3px;
    margin-bottom: 3px;
    transition: all .5s;
    height: 10px;
}


.bar * {
    opacity: 0;
    transition: all .5s;
}

#nav-bars.active .bar * {
    opacity: 1;
}

#nav-bars.active .bar {
    width: 200px;
}

.bar1 {
    width: 40px;
}

.bar2 {
    width: 50px;
}

.bar3 {
    width: 20px;
}

.bar4 {
    width: 30px;
}

#add-song-btn {
    position: absolute;
    top: 2em;
    right: 2em;
    z-index: 1;
    cursor: pointer;
}

#add-song-btn.active {
    padding: 50px;
}

#add-song-btn.active i {
    transform: rotate(135deg);
}


/* 3d btn styles */
.cube-btn .front, .back {
    background: var(--main-color);
}

.cube-btn .bottom .spotify {
    height: 100%;
    background: darken(#1DB954, 10%);
}

.cube-btn .bottom .youtube {
    height: 100%;
    background: darken(#FF0000, 10%);
}

.cube-btn.active .bottom .spotify {
    background: #1DB954;
}

.cube-btn.active .bottom .youtube {
    background: #FF0000;
}

.front {
    background: lighten(var(--main-color), 10%);
}

.cube-btn-container {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 100%;
  height: 36px;
  perspective: 300px;
  font-size: 1em;
  color: var(--secondary-color) !important;
  cursor: pointer;
}

.cube-btn {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.333s;
    transform: translateZ(-18px);
}

.cube-btn .front, .cube-btn .bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.333s;
}

.cube-btn .front *, .cube-btn .bottom * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto!important;
}


.cube-btn .front {
    transform: rotateX(0deg) translateZ(18px);
}

.cube-btn .bottom {
    transform: rotateX(-90deg) translateZ(18px);
}
  
.cube-btn.active {
    transform: translateZ(-18px) rotateX(90deg);
}

.spotify {
    background: #1DB954;
}

.youtube {
    background: #FF0000;
}

#err-btn {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    bottom: -100px;
    z-index: 1000;
    font-size: 1em;
    transition: .5s all;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    #queue {
        min-height: 60%;
        height: calc(100% - 50vw);
    }

    #current-song-details > img {
        max-width: 100%;
        max-height: 100%;
    }
}

@media (min-aspect-ratio: 15/10) {
    
    #current-song-details > img {
        width: calc(40vh - 30px - 10px - 10px - 12px - 48px - 36px - .5em);
    }
}